---
---

@mixin text-style($color, $alignment) {
    color: $color;
    text-align: $alignment;
    font-family: "Arial", Arial, sans-serif;
}

$default-background: #313C49;
$default-menu-background: #111C3C;
$default-menu-background-alt: #5D6980;
$default-menu-background-alt2: #191F3F;
$default-text-color: #E4DDEE;
$default-link-color: #C6D3EE;
$default-link-color-hover: #FFFFFF;

@import "layout.scss";

a {
    color: $default-link-color;
}

a:hover {
    color: $default-link-color-hover;
}

div.header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $default-menu-background;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
}

div.body {
    padding-left: 1em;
    margin-left: 1em;
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}

div.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $default-menu-background;
    position: fixed;
    bottom: 0;
    text-align: center;
}
@import "menus.scss";
@import "projects.scss";
@import "posts.scss";
@import "_syntax-highlighting.scss";
