body {
    background-color: white;
    height: 1em;
    width: 80%;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu {
    display: inline;
}

select#project_selection {

}