<div class='row footer'>
    <p>
        <span class='ion-social-github-outline'><a href='https://github.com/{{site.github_username}}' target='_blank'> Github </a></span>
        <span class='ion-social-linkedin-outline'><a href='https://www.linkedin.com/in/{{site.linkedin_username}}' target='_blank'> LinkedIn </a></span>
        <span class='ion-paper-airplane'><a href="mailto:{{site.email | encode_email}}" target='_blank'> eMail </a></span>
        <span class='ion-ios-ionic-outline'><a href='http://ionicons.com/' target='_blank'> Icons by ionicons </a></span>
    </p>
</div>
