<div class='row header'>
    <ul class='header_menu_horizontal'>
        {% for my_page in site.pages %}
            {% if my_page.title %}
                <script> {{my_page}} </script>
                {% if my_page.is_archive != true %}
                {% if page.title == my_page.title %}
                {% assign active = "active" %}
                {% else %}
                {% assign active = "" %}
                {% endif %}
                <li class="menu_item {{active}}"
                {% if my_page.title == 'About' %}
                    style='float:right;'
                {% endif %}>
                    <a class="" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
