<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link rel='stylesheet' href='{{ "/css/main.css" | prepend: site.baseurl}}' />
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' />
    <script async src='https://code.jquery.com/jquery-3.0.0.min.js' type='text/javascript' rel='javascript'></script>
    <script async src='{{ "/js/main.js" | prepend: site.baseurl}}' type='text/javascript' rel='javascript'></script>
</head>
