* {
    box-sizing: border-box;
}

.row {
    // height: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-0 {
    width: 5%;
}
.col-1 {
    width: 10%;
}
.col-2 {
    width: 15%;
}
.col-3 {
    width: 20%;
}
.col-4 {
    width: 25%;
}
.col-5 {
    width: 30%;
}
.col-6 {
    width: 35%;
}
.col-7 {
    width: 40%;
}
.col-8 {
    width: 45%;
}
.col-9 {
    width: 50%;
}
.col-10 {
    width: 55%;
}  
.col-11 {
    width: 60%;
}
.col-12 {
    width: 65%;
}
.col-13 {
    width: 70%;
}
.col-14 {
    width: 75%;
}  
.col-15 {
    width: 80%;
}  
.col-16 {
    width: 85%;
}
.col-17 {
    width: 90%;
}  
.col-18 {
    width: 95%;
}  
.col-19 {
    width: 100%;
}

body {
    padding-left: 0;
    margin-left: 0;
    background: $default-background;
    @include text-style($default-text-color, left);

}
