ul.header_menu_horizontal {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.menu_item {
    float: left;
}

li.menu_item a {
    border-right: 1px solid white;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li.menu_item a:last-child {
    border-right: none;
}
li.menu_item a:hover {
    background-color: $default-menu-background-alt;
    text-decoration: underline;
}

li.menu_item.active a {
    background-color: $default-menu-background-alt;
}
