table.project_list {
    width: 100%;
    height: 300px;
    text-align: center;
}
table.project_list td {
    width: 25%;
    height: 25%;
    background-color: $default-menu-background-alt2;
}

table.w8 td {
    width: 16.666666%;
    height: 25%;
    background-color: $default-menu-background-alt2;
}

div.project_item {
//    color: red;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0;
}

span.project_link {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
div.project_excerpt {
    display: none;
    position: absolute;
    background-color: $default-menu-background-alt;
    width: 100%;
    z-index: 500;
}
div.project_item:hover div.project_excerpt {
    display: block;
}
div.project_item:active div.project_excerpt {
    display: block;
}

div.project_excerpt a {
    display: block;
}

div.project_scroller_container {
    overflow: hidden;
    width: 100%;
}

$project_image_width: 600px;
$project_travel_width: 600px;
$project_duration: 30s;

div.project_scroller {
    height: 400px;
    width: 1200px;
}


@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -$project_travel_width;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -$project_travel_width;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -$project_travel_width;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -$project_travel_width;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -$project_travel_width;
 }
 
}

div.project_image_scroller:first-child {
     -webkit-animation: bannermove $project_duration linear infinite;
    -moz-animation: bannermove $project_duration linear infinite;
     -ms-animation: bannermove $project_duration linear infinite;
      -o-animation: bannermove $project_duration linear infinite;
         animation: bannermove $project_duration linear infinite;
}




div.project_image_scroller {
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: $project_image_width;
    height: 300px;
    position: relative;
}

div.div.project_image_scroller:last-child {
    float: none;
    clear: both;
}

div.project_image_scroller p {
    position: absolute;
    bottom: -40px;
}
